.container {
  /* border: 10px solid saddlebrown; */
  width: 80%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  /* background-color: aqua; */
}
.form {
  /* border: 1rem soild blue; */
  background-color: bisque;
  padding: 2rem 3rem;
  border-radius: 30px;
  box-shadow: 2px 2px 20px bisque;
  /* display: none; */
}
/* .form input {
  background-color: inherit;
  margin: 0.7rem;
  padding: 8px;
  border: 1px solid;
  border-radius: 10px;
} */

.container h1 {
  font-size: 2.5rem;
  border: 10px soild blue;
}
.container button {
  background-color: red;
}

.afterProposal {
  display: none;
}
.check svg {
  width: 1.2rem;
}
.formBox {
  width: 80%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.box {
  border: 1px solid brown;
  /* margin: 0 auto; */
}
.box input {
  background-color: inherit;
  width: 80%;
  margin: 0.7rem;
  padding: 8px;
  border: 1px solid;
  border-radius: 10px;
}
.upload {
  border: 1px solid brown;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload span {
  margin: 0 10px;
}
.submitBtn button {
  font-size: 1.5rem;
  padding: 5px 12px;
  border-radius: 20px;
}
.submitBtn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invalidBtn {
  cursor: not-allowed;
}
